.exactly {
    background: $white-bg;
    margin-bottom: 90px;

    &__wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(423px, 1fr));

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    }

    &__content {
        display: flex;

        &__logo {
            margin-right: 28px;

            @media screen and (max-width: 500px) {
                margin-right: 15px;
            }

            img {
                height: 110px;
                width: 110px;

                @media screen and (max-width: 500px) {
                    width: 65px;
                    height: 65px;
                }
            }
        }

        &__caption {
            
            .caption-title h3 {
                font-size: 24px;
                line-height: 24px;
                font-family: 'Exo2-SemiBold', sans-serif;
                font-weight: 600;

                @media screen and (max-width: 500px) {
                    font-size: 18px;
                    line-height: 18px;
                }
            }

            .caption-inner p {
                font-size: 18px;
                line-height: 19.26px;

                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}