.exactly {
    background: $white-bg;
    height: 730px;

    &__wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(423px, 1fr));
    }

    &__content {
        display: flex;

        &__logo {
            min-width: 140px;
            height: 140px;
        }

        &__caption {
            
            .caption-title h3 {
                font-size: 24px;
                line-height: 24px;
                font-family: 'Exo2-SemiBold', sans-serif;
                font-weight: 600;
            }

            .caption-inner p {
                font-size: 18px;
                line-height: 19.26px;
            }
        }
    }
}