.upcoming-tours {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 893px;
    background-color: $white-bg;

    &__slider {
        width: 100%;
        max-width: 1370px;
    }
}