<footer class="footer-main">
    <div class="footer-main__arrow__mobile">
        <svg width="16" height="39" viewBox="0 0 16 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 38C7 38.5523 7.44772 39 8 39C8.55228 39 9 38.5523 9 38L7 38ZM8.70711 0.292892C8.31658 -0.0976295 7.68342 -0.0976296 7.29289 0.292892L0.928934 6.65685C0.538409 7.04738 0.538409 7.68054 0.928933 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41422L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM9 38L9 1L7 1L7 38L9 38Z" fill="white"/>
        </svg>            
    </div>
    <div class="footer-main__logo">
        <img src="../img/logo-white.png" alt="iPKERS">
        <div class="footer-main__logo__documents">
            <p>ООО «ИПКЕРС»</p>
            <p>ИНН 0276914467</p>
            <p>ОГРН: (номер, если есть)</p>
        </div>
        <div class="footer-main__logo__police">
            Политика конфиденциальности Копирайт (2014- 2021)
        </div>
    </div>
    <div class="footer-main__center">
        <div class="footer-main__center__nav">
            <ul class="footer-main__list-inner">
                <li class="footer-main__item">Главная</li>
                <li class="footer-main__item">Походы</li>
                <li class="footer-main__item">Горнолыжка</li>
                <li class="footer-main__item">Авторские туры</li>
                <li class="footer-main__item">О нас</li>
                <li class="footer-main__item">Отзывы</li>
                <li class="footer-main__item">Галерея</li>
                <li class="footer-main__item">Контакты</li>
                <li class="footer-main__item">Статьи</li>
            </ul>
        </div>
        <div class="footer-main__center__copyright">
            © ТурКлуб «Ипкерс»
        </div>
    </div>
    <div class="footer-main__wrapper">
        <div class="footer-main__links">
            <div class="footer-main__links__phone">
                <span>8(987) 496-21-20</span>
                <a href="#" class="footer-main__links__link order">Заказать звонок</a>
            </div>
            <div class="footer-main__links__social">
                <a href="#" class="social-item">
                    <img src="../img/icons/email.svg" alt="Почта">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/facebook.svg" alt="Фейсбук">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/vk.svg" alt="Вконтакте">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/instagram.svg" alt="Инстаграм">
                </a>
            </div>
        </div>
        <div class="footer-main__arrow">
            <svg width="16" height="138" viewBox="0 0 16 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 137C7 137.552 7.44772 138 8 138C8.55228 138 9 137.552 9 137H7ZM8.70711 0.292892C8.31658 -0.0976257 7.68342 -0.0976257 7.29289 0.292892L0.928932 6.65686C0.538408 7.04738 0.538408 7.68054 0.928932 8.07108C1.31946 8.46159 1.95262 8.46159 2.34315 8.07108L8 2.41422L13.6569 8.07106C14.0474 8.46159 14.6805 8.46159 15.0711 8.07106C15.4616 7.68054 15.4616 7.04738 15.0711 6.65686L8.70711 0.292892ZM9 137L9 1L7 1L7 137H9Z" fill="white"/>
            </svg>
        </div>
        <div class="footer-main__copyright__mobile">
            © ТурКлуб «Ипкерс»
        </div>
    </div>
</footer>

<include src="src/templates/modals.html"></include>
<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>
