<header class="header-main">
    <include src="src/templates/nav.html"></include>
    <div class="header-main__wrapper">
        <div class="header-main__content">
            <div class="header-main__content__inner">
                <h1 class="header-main__title">Активный отдых на природе <br> в дали от города <br> с качественным сервисом</h1>
                <h2 class="header-main__subtitle">Квалифицированные инструктора, вкусная еда от шефа <br> и комфортабельные автобусы</h2>
                <div class="header-main__buttons">
                    <button class="header-main__button button button--red">Закажи звонок</button>
                    <button class="header-main__button button button--white">Узнай расписание</button>
                </div>
            </div>
            <div class="header-main__content__socials">
                <a href="#" class="social-item">
                    <img src="../img/icons/email.svg" alt="Почта">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/facebook.svg" alt="Фейсбук">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/vk.svg" alt="Вконтакте">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/instagram.svg" alt="Инстаграм">
                </a>
            </div>
        </div>
        <div class="header-main__arrow">
            <img src="../img/header/arrow.svg" alt="Дальше">
        </div>
    </div>
</header>