<div class="nav-main">
    <div class="nav-main__logo">
        <img src="../img/logo.svg" alt="iPKERS">
    </div>
    <nav class="nav-main__list">
        <ul class="nav-main__list-inner">
            <li class="nav-main__item">Главная</li>
            <li class="nav-main__item">Походы</li>
            <li class="nav-main__item">Горнолыжка</li>
            <li class="nav-main__item">Авторские туры</li>
            <li class="nav-main__item">О нас</li>
            <li class="nav-main__item">Отзывы</li>
            <li class="nav-main__item">Галерея</li>
            <li class="nav-main__item">Контакты</li>
            <li class="nav-main__item">Статьи</li>
        </ul>
    </nav>
    <div class="nav-main__links">
        <div class="nav-main__links__wrapper">
            <a class="nav-main__links__link nav-main__links__number">8(987) 496-21-20</a>
            <a class="nav-main__links__link nav-main__links__order">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
    </div>
</div>