<div class="main-container about-us">
    <div class="main-header">
        <h2>Наша команда</h2>
        <div class="main-header__caption">
            <p>Дружная команда настоящих профессионалов!</p>
        </div>
    </div>
    <div class="about-us__content">
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
        <div class="about-us__item">
            <div class="about-us__item__logo">
                <img src="../../img/about-us/avatar.png" alt="Вадим Мурзагильдин">
            </div>
            <div class="about-us__item__title">
                <h3>Вадим Мурзагильдин</h3>
                <p>Главный инструктор, повар</p>
            </div>
            <div class="about-us__item__caption">
                <p>Продумает все от и до. Бдительный и внимательный. Всегда знает где лежит топор</p>
            </div>
        </div>
    </div>
    <button class="about-us__button button button--green">Все инструктора</div>
</div>