<section class="camping-trip">
    <div class="camping-trip__title">
        <h2>как одеться в поход?</h2>
    </div>
    <div class="camping-trip__subtitle">
        <h3>Заполните форму прямо сейчас и получите подробную инструкцию <br> на Whats up о том, как одеться в поход</h3>
    </div>
    <div class="camping-trip__form">
        <div class="camping-trip__wrapper">
            <input class="camping-trip__input input" type="text" name="campingTripName" id="campingTripName" placeholder="Имя">
        </div>
        <div class="camping-trip__wrapper">
            <input class="camping-trip__input input" type="text" name="campingTripPhone" id="campingTripPhone" placeholder="Телефон">
        </div>
        <button class="camping-trip__button button button--red">Узнай расписание</button>
    </div>
    <div class="camping-trip__personal-data">
        <input type="checkbox" name="campingTripPersonal" id="campingTripPersonal">
        <label for="campingTripPersonal">Я согласен на обработку персональных данных</label>
    </div>
</section>