<section class="main-container contacts">
    <div class="main-header">
        <h2>Контакты</h2>
        <div class="main-header__caption">
            <p>Нас легко найти</p>
        </div>
    </div>
    <div class="contacts__wrapper">
        <div class="contacts__info">
            <div class="contacts__info__data">Телефон: 8(987) 496-21-20</div>
            <div class="contacts__info__data contacts__info__email">Почта: адрес почты</div>
            <div class="contacts__info__links">
                <a href="#" class="social-item">
                    <img src="../img/icons/email.svg" alt="Почта">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/facebook.svg" alt="Фейсбук">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/vk.svg" alt="Вконтакте">
                </a>
                <a href="#" class="social-item">
                    <img src="../img/icons/instagram.svg" alt="Инстаграм">
                </a>
            </div>
        </div>
        <div class="contacts__feedback">
            <input class="contacts__feedback__input input" type="text" name="contactsName" id="contactsName" placeholder="Имя">
            <input class="contacts__feedback__input input" type="text" name="contactsPhone" id="contactsPhone" placeholder="Телефон">
            <button class="contacts__feedback__button button button--red">Узнай расписание</button>
            <div class="custom-checkbox">
                <input type="checkbox" name="contactsPersonal" id="contactsPersonal">
                <label for="contactsPersonal">Я согласен на обработку персональных данных</label>
            </div>
        </div>
    </div>
</section>