<section class="main-container exactly">
    <div class="main-header">
        <h2>Почему именно Ипкерс?</h2>
        <div class="main-header__caption">
            <p>Мы делаем свои туры максимально комфортными</p>
        </div>
    </div>
    <div class="exactly__wrapper">
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/resume.svg" alt="Квалифицированные инструктора">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Квалифицированные инструктора</h3>
                </div>
                <div class="caption-inner">
                    <p>У нас работают только самые опытные, квалифицированные и отзывчивые инстуруктора.</p>
                </div>
            </div>
        </div>
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/backpack.svg" alt="Снаряжение и комфорт">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Снаряжение и комфорт</h3>
                </div>
                <div class="caption-inner">
                    <p>Для комфорта на стоянках мы берем с собой столы, скамейки, топоры, бензопилы, тенты и т.д. Также есть прокат снаряжения.</p>
                </div>
            </div>
        </div>
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/meal.svg" alt="Вкусное питание от шефа">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Вкусное питание от шефа</h3>
                </div>
                <div class="caption-inner">
                    <p>Мы готовим из 100% мяса, которое перевозим в переносных холодильниках, и свежих качественных продуктов.</p>
                </div>
            </div>
        </div>
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/bus.svg" alt="Трансфер на автобусе">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Трансфер на автобусе</h3>
                </div>
                <div class="caption-inner">
                    <p>Наши автобусы всегда чистые, комфортабельные и с прицепом для Ваших вещей и снаряжения</p>
                </div>
            </div>
        </div>
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/giftboxes.svg" alt="Приятные сюрпризы от организаторов">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Приятные сюрпризы от организаторов</h3>
                </div>
                <div class="caption-inner">
                    <p>Мы любим своих туристов и всегда стараемся им сделать приятный сюрприз. Сюрприз всегда хранится в секрете!</p>
                </div>
            </div>
        </div>
        <div class="exactly__content">
            <div class="exactly__content__logo">
                <img src="../../img/exactly/map.svg" alt="Оригинальные и интересные маршруты">
            </div>
            <div class="exactly__content__caption">
                <div class="caption-title">
                    <h3>Оригинальные и интересные маршруты</h3>
                </div>
                <div class="caption-inner">
                    <p>Мы постоянно разрабатываем и реализуем новые маршруты и развиваем внутренний туризм по Республике Башкортостан.</p>
                </div>
            </div>
        </div>
    </div>
</section>