<div class="gift">
    <div class="gift__title">
        <h1>Для тебя подарок</h1>
    </div>
    <div class="gift__subtitle">
        <h2>Заполните форму прямо сейчас и получите список с топовыми <br> местами, которые ты сможешь посетить с Ипкерс!</h2>
    </div>
    <div class="gift__form">
        <div class="gift__wrapper">
            <input class="gift__input input" type="text" name="giftName" id="giftName" placeholder="Имя">
        </div>
        <div class="gift__wrapper">
            <input class="gift__input input" type="text" name="giftPhone" id="giftPhone" placeholder="Телефон">
        </div>
        <button class="gift__button button button--red">Узнай расписание</button>
    </div>
    <div class="gift__personal-data">
        <input type="checkbox" name="giftPersonal" id="giftPersonal">
        <label for="giftPersonal">Я согласен на обработку персональных данных</label>
    </div>
</div>