<section class="main-container reviews">
    <div class="main-header">
        <h2>Отзывы</h2>
        <div class="main-header__caption">
            <p>О нас говорят</p>
        </div>
    </div>
    <div class="reviews__wrapper">
        <div class="reviews__item">
            <div class="reviews__item__logo">
                <img src="../../img/reviews/avatar.png" alt="Клара Габитова">
            </div>
            <div class="reviews__item__wrapper">
                <div class="reviews__item__title">
                    <div class="title-name">
                        Клара Габитова
                    </div>
                    <div class="title-date">11 сен 2020 в 21:00</div>
                </div>
                <div class="reviews__item__caption">
                    <p>С Ипкерс я была в однодневном походе на Айгир, в двухдневном-сплав по Зилиму и в многодневном- по Крыму. Каждый из них это сплошной восторг и позитив!
                        Поход по Крыму это отдельная история. Группа подобралась очень душевная. С первой минуты было ощущение, что мы все давно знакомы. Две недели нашего путешествия пролетели не заметно. А какой был маршрут! А какие у нас были стоянки на ночлег! Это бомба!!!
                        </p>
                </div>
                <div class="reviews__item__caption--more">
                    <span>Читать далее...</span>
                </div>
                <div class="title-date__mobile">11 сен 2020 в 21:00</div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__item__logo">
                <img src="../../img/reviews/avatar.png" alt="Клара Габитова">
            </div>
            <div class="reviews__item__wrapper">
                <div class="reviews__item__title">
                    <div class="title-name">
                        Клара Габитова
                    </div>
                    <div class="title-date">11 сен 2020 в 21:00</div>
                </div>
                <div class="reviews__item__caption">
                    <p>С Ипкерс я была в однодневном походе на Айгир, в двухдневном-сплав по Зилиму и в многодневном- по Крыму. Каждый из них это сплошной восторг и позитив!
                        Поход по Крыму это отдельная история. Группа подобралась очень душевная. С первой минуты было ощущение, что мы все давно знакомы. Две недели нашего путешествия пролетели не заметно. А какой был маршрут! А какие у нас были стоянки на ночлег! Это бомба!!!
                        </p>
                </div>
                <div class="reviews__item__caption--more">
                    <span>Читать далее...</span>
                </div>
                <div class="title-date__mobile">11 сен 2020 в 21:00</div>
            </div>
        </div>
    </div>
    <button class="reviews__button button button--green">Посмотри все отзывы</div>
</section>