<section class="reviews">
    <div class="main-container reviews__feedback">
        <div class="main-header">
            <h2>Отзывы</h2>
            <div class="main-header__caption">
                <p>О нас говорят</p>
            </div>
        </div>
        <div class="reviews__feedback__wrapper">
            <div class="reviews__feedback__item">
                32132131
            </div>
            <div class="reviews__feedback__item">
                32132131
            </div>
        </div>
        <button class="about-us__button button button--green">Посмотри все отзывы</div>
    </div>
</section>