<section class="main-container upcoming-tours">
    <div class="main-header">
        <h2>Ближайшие туры</h2>
        <div class="main-header__caption">
            <p>Скорее бронируй тур - мест становится все меньше!</p>
        </div>
    </div>
    <div class="upcoming-tours__slider">
        <div class="slider">
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Горнолыжный центр «Абзаково»</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Поход на двуглавую сопку</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Новый год с ипкерс</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Горнолыжный центр «Абзаково»</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Горнолыжный центр «Абзаково»</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Поход на двуглавую сопку</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Новый год с ипкерс</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item__logo">
                    <img src="../../img/upcoming-tours/avatar.png" alt="Avatar" />
                </div>
                <div class="slider__item__title">Горнолыжный центр «Абзаково»</div>
                <div class="slider__item__info">
                    <div class="slider__item__top">
                        <div class="slider__item__date">
                            С 11 по 12 декабря - 2 дня
                        </div>
                        <div class="slider__item__distance">18км</div>
                    </div>
                    <div class="slider__item__bottom">
                        <div class="slider__item__price">3500 р</div>
                        <div class="slider__item__long">Через 3 дня</div>
                    </div>
                    <button class="slider__button button button--red">Узнай подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>